.graph {
    /*background-color: blanchedalmond;*/
    width: 900px;
    height: 3000px;
}

.icon {
    width: 64px;
    position: relative;
    display: flex;
}

#canvas_default {
    position: absolute;
    display: flex;
}